In [ ]:
# !pip install tensorflow
# !pip install pandas
# !pip install sweetviz
# !pip install ydata-profiling
# !pip install ipywidgets

In [ ]:
import sweetviz
sweetviz.__version__

In [ ]:
import os
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
# import tensorflow as tf
import json
import torch
import segmentation_models_pytorch as smp
import os
import numpy as np
import json
# from keras.preprocessing import image
import matplotlib.pyplot as plt
from tqdm import tqdm
# import seaborn as sns
import sweetviz as sv
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
pd.__version__

In [ ]:
pd.options.display.max_rows = 100
pd.options.display.max_columns = 100

In [ ]:
def read_json(json_path):
    with open(json_path, 'r') as f:
        data = json.load(f)
    f.close()
    # Create different lists from the data dictionary

    annotations = pd.DataFrame(data["annotations"])
    category = pd.DataFrame(data["categories"])
    info = pd.DataFrame.from_dict(data["info"], orient='index')
    images = pd.DataFrame(data['images'])
    licenses = pd.DataFrame(data['licenses'])
    return annotations, category, info, images, licenses

In [ ]:
json_train_path = './dataset/fungi/train_val_annotations/train.json'
json_val_path = './dataset/fungi/train_val_annotations/val.json'
tr_annotation, tr_category, tr_info, tr_images, tr_licenses = read_json(json_train_path)
val_annotation, val_category, val_info, val_images, val_licenses = read_json(json_val_path)

In [20]:
tr_annotation.head()

      id  category_id  image_id
0  43829          650     21942
1  44039          650     21943
2  44255          650     21944
3  44614          650     22210
4  45510          650     24812

In [ ]:
def create_merged_json_df(images, annotations, category):
    """ args = takes the three important dataframes
    returns = create a merged dataframe with all the important data
    """
    data_df = images.copy()

    ## to the images dataframe, we add the category_id column - our target
    data_df['category_id'] = annotations[annotations['image_id'] == data_df['id']]['category_id']
    category.set_index('id')
    data_df = pd.merge(left=data_df, right=category, how='left', left_on='category_id', right_on='id')
    data_df.drop(columns = ['id_y'], inplace=True)
    #change the column to a string?
    data_df['category_id'] = data_df['category_id'].astype(str) 
    # Add the columns of image name and its subdirectory/catefory
    data_df['image_name'] = data_df['file_name'].str.split('/').str[2]
    data_df['subdir'] = data_df['file_name'].str.split(pat='/', n=1).str[1]
    return data_df

In [18]:
tr_data = create_merged_json_df(tr_images, tr_annotation, tr_category)
tr_data['freq'] = tr_data.groupby('category_id')['category_id'].transform('count')
# tr_data['category_id'] = tr_annotation[tr_annotation['image_id'] == tr_data['id']]['category_id']
tr_data.sort_values(by=['file_name'], inplace=True)
tr_data.head(3)

,id_x,file_name,width,license,rights_holder,height,category_id,name,supercategory,image_name,subdir,freq
12224,104802,images/10000_Abortiporus_biennis/ANB2016-91779...,1066,1,Ane Brødsgaard,800,0,Abortiporus biennis,Abortiporus,ANB2016-9177939_BklUi8V50.JPG,10000_Abortiporus_biennis/ANB2016-9177939_BklU...,71
12223,104801,images/10000_Abortiporus_biennis/ANB2016-91779...,1066,1,Ane Brødsgaard,800,0,Abortiporus biennis,Abortiporus,ANB2016-9177939_ry8j8V50.JPG,10000_Abortiporus_biennis/ANB2016-9177939_ry8j...,71
12225,105576,images/10000_Abortiporus_biennis/ANB2016-91787...,1066,1,Ane Brødsgaard,800,0,Abortiporus biennis,Abortiporus,ANB2016-9178737_H1A2LtQyg.JPG,10000_Abortiporus_biennis/ANB2016-9178737_H1A2...,71

In [19]:
tr_data.iloc[0,1]

'images/10000_Abortiporus_biennis/ANB2016-9177939_BklUi8V50.JPG'

In [ ]:
val_data = create_merged_json_df(val_images, val_annotation, val_category)
val_data.head(3)

In [ ]:
tr_category.set_index('id').head()

In [ ]:
# images_report = sv.analyze(tr_images)
# #display the report
# images_report.show_html('sweetviz_train_images.html')

In [ ]:
# train_data_report = sv.analyze(tr_data)
# #display the report
# train_data_report.show_html('sweetviz_train_data.html')

In [ ]:
from ydata_profiling import ProfileReport
profile = ProfileReport(tr_images, title='images Pandas Profiling Report')
# profile

In [ ]:
profile.to_file('Report_train_json.html')